<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>LinkBoost - Perfil</title>
</head>
<body>

<div id="header"></div>

<section class="conteudo">
    <h2>Seu Perfil</h2>

    <div class="card">
        <p><strong>Nome:</strong> Usuário Teste</p>
        <p><strong>Links Gerados:</strong> 12</p>
        <p><strong>Clique Totais:</strong> 87</p>
        <p><strong>Comissão Estimada:</strong> R$ 142,50</p>
    </div>

    <button class="btn-rosa">Solicitar Saque</button>
</section>

<div id="footer"></div>
<script src="../public/js/app.js"></script>
</body>
</html>
