<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>LinkBoost - Produtos</title>
</head>

<body>

<div id="header"></div>

<section class="conteudo">
    <h2>Produtos Disponíveis</h2>

    <div class="produto">
        <h3>Curso de Inglês Express</h3>
        <button onclick="gerarLinkProduto('curso-ingles')" class="btn-roxo">Gerar link</button>
    </div>

    <div class="produto">
        <h3>App de Organização Premium</h3>
        <button onclick="gerarLinkProduto('app-org')" class="btn-roxo">Gerar link</button>
    </div>

    <div id="resultado"></div>
</section>

<div id="footer"></div>
<script src="../public/js/app.js"></script>
</body>
</html>
