<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>LinkBoost - Sobre</title>
</head>

<body>

<div id="header"></div>

<section class="conteudo">
    <h2>Sobre o LinkBoost</h2>
    <p>Protótipo front-end que simula um sistema de geração de links com comissão.</p>
    <p>Voltado apenas para apresentação e demonstração.</p>
</section>

<div id="footer"></div>

<script src="../public/js/app.js"></script>
</body>
</html>
